/* reset css */
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    padding: 20px 400px;
}
h1{
    font-size: 50px;
}
hr{
    border: 0; 
    clear:both; 
    display:block; 
    width: 96%; 
    background-color: black;
    height: 1px;
}
/*Main content/main flexbox container*/
main{
   display: flex;
   flex-direction: column;
   height: 600px;
   background-color: #97a5d8;
   justify-content: center;
   align-items: center;
   padding: 20px 40px;
   border-radius: 20px;
   box-shadow: 1px 10px 10px 1px rgb(222, 222, 222);
   
}
main > section {
    flex-basis:300px;
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
main > section {
    display: flex;
    align-items: center;
}
/*Resize the third flex item*/
#images{
    flex-basis: 800px;
}
/*Style the images*/
img{
    height: 200px;
    max-width: 100%;
    border-radius: 10px;
}
/*Flexbox inside the first flexbox, contains the images*/
.flexcontainer2{
    display: flex;
    justify-content: center;
   align-items: center;
}
.flexcontainer2 > a {
    flex-basis: 200px;
    margin: 10px;
}
/*Styling the text overlay*/
.container{
    position: relative;
    text-align: center;
    color: white;
}
.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    visibility: hidden;
}
.container:hover{
    cursor: pointer;
   }
   
   .container:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
   }
img:hover{
    opacity: 50%;
}
/*Style for responsiveness*/
@media only screen and (max-width: 600px){
    html{
        padding: 10px;
    }
}